<% cache [current_user, "questions"] do %>
  <div class="questions">
    <% if @questions.present? %>
      <ul>
        <% @questions.each do |question| %>
          <li>
            <%= simple_format question.text %>

            <div class="question__meta">
              <p>Question for <%= link_to question.technique.name, question.technique %></p>

              <p>
                Created <%= question.created_at.to_formatted_s(:short) %>
                (<%= time_ago_in_words question.created_at %> ago)
              </p>
            </div>

          </li>
        <% end %>
      </ul>
    <% else %>
      You have no notes marked as questions
    <% end %>
  </div>
<% end %>
