<% cache [current_user, "questions"] do %>
  <div class="notes__list">
    <% if @questions.present? %>
      <ul>
        <% @questions.each do |question| %>
          <li>
            <%= simple_format question.text %>

            <div class="notes__list__meta">
              <p>Question for <%= link_to question.technique.name, question.technique %></p>
              <%= render partial: "shared/note_meta", locals: { note: question } %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      You have no notes marked as questions
    <% end %>
  </div>
<% end %>
