<div class="controls__container">
  <%= link_to "Edit", edit_technique_path(@technique), class: "button button--small" %>
  <%= link_to "Delete", @technique, method: :delete, class: "button button--small", data: { confirm: "Sure?" } %>
</div>
