<%= form_tag multiple_create_techniques_path, method: "post", class: "simple_form create-multiple" do %>
  <% simple_fields_for :techniques do |f| %>
    <fieldset>
      <div class="create-multiple__row">
        <input type="text" name="techniques[name][]" placeholder="Name *" autofocus>

        <select name="techniques[belt_id][]">
          <option value="">Choose a belt *</option>
          <% Belt.all.each do |belt| %>
            <%= content_tag :option, belt.pretty_print, value: belt.id %>
          <% end %>
        </select>

        <select name="techniques[category_id][]">
          <option value="">Choose a category *</option>
          <% Category.all.each do |category| %>
            <%= content_tag :option, category.name, value: category.id %>
          <% end %>
        </select>
      </div>

      <%# <% TODO: come up with a better name for this %1> %>
      <div class="create-multiple__2nd-row">
        <textarea name="techniques[description][]" placeholder="Description *"></textarea>
        <button type="button" class="create-multiple__remove-fieldset">-</button>
      </div>
    </fieldset>

    <div class="create-multiple__buttons">
      <button type="button">+</button>
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
