<div class="new-features">
  <h1>Newest features:</h1>

  <ul>
    <li>
      <strong>Quick editing</strong><br>
      It is now possible to edit your techniques right from the list view. Just peek at the technique (click the eye) and then click the little pen. This makes it super easy to swap techniques which is often necessary.
    </li>
    <li>
      <strong>Export techniques</strong><br>
      You can now export your techniques as a print friendly page.
    </li>
    <li>
      <strong>Updated design</strong><br>
      I have been working on many small tweaks to the design. Everything should be a little nicer too look at and should be more maintainable in the future.
    </li>
    <li>
      <strong>Add multiple techniques at once</strong><br>
      You can now add multiple techniques at once. This is super useful for quickly adding lots of techniques.
    </li>
    <li>
      <strong>Neglected studies</strong><br>
      When logged in the front page now shows studies you might have neglected. That would be studies you have never studied, or not studied for two weeks.
    </li>
    <li>
      <strong>Speed!</strong><br>
      Many performance optimizations have been made that should make the site feel faster.
    </li>
  </ul>

  <% unless request.fullpath == "/" %>
    <p>
      <small>New features are added all the time so remember to check back soon</small>
    </p>
  <% end %>
</div>
