@import "bourbon";
@import "neat";

////////////////////////////////////
////// Variables ///////////////////
////////////////////////////////////

// Colors
$light_gray: #e1e1e1;
$dark_gray: #b3b3b3;
$darker_gray: darken($dark_gray, 10%);
$black: black;
$white: white;
$blue: rgb(37, 67, 147);
$red: darken(red, 10%);
$yellow: #ffe533;

// Sizes
$radius: 3px;
$space: 1rem;
$menu_breakpoint: 950px;
$menu_max_width: 250px;
$max-width: auto;

////////////////////////////////////
////// Mixins //////////////////////
////////////////////////////////////

@mixin size($x) {
  width: $x;
  height: $x;
}

@mixin really_big {
  @media (min-width: 940px) {
    @content;
  }
}

@mixin big {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin medium_and_up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin all_headings {
  @for $i from 1 through 6 {
    h#{$i} {
      @content;
    }
  }
}

@mixin secondary_text {
  font-style: italic;
  font-size: .8rem;
  color: $darker_gray;
}

@mixin border_list($list_space: $space*1.5) {
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      &:not(:last-of-type) {
        border-bottom: 1px solid $light_gray;
        padding-bottom: $list_space;
      }

      &:not(:first-of-type) {
        padding-top: $list_space;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &:first-of-type p {
        margin-top: 0;
      }

      p {
        margin-top: 0;
      }
    }
  }
}

@mixin panel {
  background: lighten($light_gray, 5%);
  padding: $space/2;
  border-radius: $radius;
  font-size: .8rem;

  h1 {
    font-size: .9rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
