@import "bits";

html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.main {
  padding: 1rem;
  margin: 0 auto;
  width: 75%;
  float: left;

  @media (min-width: $menu_breakpoint) {
    width: calc(100% - #{$menu_max_width});
  }

  @include medium {
    float: none;
    width: 100%;
    height: auto;
  }

  @include all_headings {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.button,
button,
input[type=submit] {
  @include linear-gradient(lighten($light_gray, 5%), lighten($dark_gray, 5%));
  font-size: 1rem;
  padding: .5rem .75rem;
  border: 1px solid $dark_gray;
  border-radius: $radius;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  outline: none;

  &:active {
    @include linear-gradient(to top, lighten($light_gray, 5%), lighten($dark_gray, 5%));
  }

}
.button--small {
  font-size: .7rem;
  padding: .2rem .33rem;
}
.button--red {
  $color: lighten(red, 5%);
  @include linear_gradient(lighten($color, 10%), darken($color, 10%));
  color: white !important;
  border-color: darken($color, 10%);

  &:active {
    @include linear_gradient(bottom, lighten($color, 10%), darken($color, 10%));
  }
}
.button--green {
  margin-right: $space;
  $color: lighten(green, 5%);
  @include linear_gradient(lighten($color, 10%), darken($color, 3%));
  color: white !important;
  border-color: darken($color, 3%);

  &:active {
    @include linear_gradient(bottom, lighten($color, 10%), darken($color, 3%));
  }
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.controls {
  @include clearfix;
}
.controls__heading {
  float: left;

  @include small {
    margin-bottom: 0;
  }
}
.controls__container {
  float: right;
  margin-left: $space*2;
  margin-bottom: $space;

  @include small {
    margin-top: 0;
  }
}

.row {
  @include outer_container;
  $width: 8;

  .main-content {
    @include span_columns($width);

    p:first-child {
      margin-top: 0;
    }
  }

  .more-options {
    @include span_columns(12 - $width);
    @include panel;

    @include small {
      margin-top: $space;
    }

    .more-options__expand {
      font-weight: normal;
      float: right;
    }

    ul {
      list-style: none;
      margin: 0;
      margin-top: $space/3;
      padding: 0;
      &.toggleable {
        display: none;
      }

      li {
        &:not(:last-child) {
          margin-bottom: $space/2;
        }

        .button {
          width: 100%;
          text-align: center;
        }
      }

      a {
        font-size: .8rem;

        &, &:visited {
          color: $black;
        }
      }
    }
  }

  @include medium {
    .main-content,
    .more-options {
      @include span_columns(12);
    }
  }
}

hr {
  opacity: .25;
  border: none;
  height: 3px;
  border-radius: 0;
  margin: $space*2 0;
  @include linear-gradient(
    -45deg,
    darken(white, 5%) 33%, darken($light-gray, 5%) 33%,
    darken($light-gray, 5%) 66%, darken(white, 5%) 66%
  );

  background-size: 15px 10px;
}

small {
  @include secondary_text;
}

dl {
  @include clearfix;
  margin-bottom: 20px;
  margin-top: 0;

  @include small {
    margin-top: $space;
  }

  dt,
  dd {
    line-height: 20px;
  }

  dt {
    font-weight: bold;
    float: left;
    width: 160px;
    @include small {
      width: 100px;
    }
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    margin-left: 180px;
    @include small {
      margin-left: 120px;
    }
  }
}
