@import "bits";

body {
  font-family: "Lato", sans-serif;
}

.main {
  padding: 1rem;
  max-width: $page_width;
  margin: 0 auto;

  @include all_headings {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.button,
button,
input[type=submit] {
  @include linear-gradient(lighten($light_gray, 5%), lighten($dark_gray, 5%));
  font-size: 1rem;
  padding: .5rem .75rem;
  border: 1px solid $dark_gray;
  border-radius: $radius;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  outline: none;

  &:active {
    @include linear-gradient(to top, lighten($light_gray, 5%), lighten($dark_gray, 5%));
  }

}
.button--small {
  font-size: .7rem;
  padding: .2rem .33rem;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

dt:after {
  content: ":";
}

.controls {
  @include clearfix;
}
.controls__heading {
  float: left;

  @include small {
    margin-bottom: 0;
  }
}
.controls__container {
  float: right;
  margin-top: $space/2;
  margin-left: $space*2;

  @include small {
    margin-top: $space;
  }
}

