@import "bits";

$flash_padding: .75rem;

.flash {
  animation: move_out .5s 2s cubic-bezier(.34,-0.6,.6,.47) forwards;
  border-radius: $radius;
  font-size: .8rem;
  left: $space;
  margin-bottom: $space;
  padding: $flash_padding;
  position: fixed;
  right: $space;
  top: $space;
  text-align: center;

  @include big {
    $max_width: 600px;
    left: 50%;
    margin-left: -$max_width/2;
    max-width: $max_width;
    width: 100%;
  }
}

@keyframes move_out {
  to {
    transform: translateY(-100px);
  }
}

.flash--notice {
  background: #d8ebf8;
  border: 1px solid #97c1da;
  color: #264c72;
}

.flash--alert {
  background: #e54d42;
  border: 1px solid darken(#e54d42, 15%);
  color: white;
}
