@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon.eot?-m8y3lg');
  src:font-url('icomoon.eot?#iefix-m8y3lg') format('embedded-opentype'),
      font-url('icomoon.woff?-m8y3lg') format('woff'),
      font-url('icomoon.ttf?-m8y3lg') format('truetype'),
      font-url('icomoon.svg?-m8y3lg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // @include small {
  //   &:empty {
  //     display: inline-block !important;
  //     padding: 1px !important;
  //   }
  // }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e600";
}
.icon-eye-blocked:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-arrow-down:before {
  content: "\e604";
}
.icon-arrow-right-after:after {
  content: "\e603";
}
.icon-arrow-down-after:after {
  content: "\e604";
}
