@import "bits";

$footer_color: rgba($dark_gray, .5);

footer.main-footer {
  display: none;

  text-align: center;
  font-size: .66rem;
  border-top: 1px solid rgba($footer_color, .33);
  margin-top: $space*2;
  padding-top: $space/2;

  &, a {
    color: $footer_color;
  }
}
