@import "bits";

.simple_form {
  @include clearfix;

  .input {
    @include outer-container;
    margin-bottom: $space;
  }

  textarea,
  select,
  #{$all-text-inputs} {
    @include span-columns(8);
    float: none;

    @include small {
      @include span-columns(12);
      float: none;
    }
  }

  label {
    text-align: right;

    input[type=checkbox] {
      margin-right: $space/2;
    }

    &.boolean {
      @include span-columns(12);
    }

    &:not(.boolean) {
      @include span-columns(4);

      @include small {
        @include span-columns(12);
        text-align: left;
        margin-bottom: $space/4;
      }
    }

    abbr {
      text-decoration: none;
      border-bottom: none;
      color: darken($red, 5%);
    }
  }

  textarea,
  #{$all-text-inputs} {
    -webkit-appearance: none;
    border: 1px solid $dark_gray;
    border-radius: $radius;
    transition:
      .2s border-color;
    padding: 2px;

    &:focus {
      outline: 0;
      border-color: $blue;
    }
  }

  .alert-error {
    color: $red;
    margin-bottom: $space;
  }

  .field_with_errors {
    textarea,
    #{$all-text-inputs} {
      border-color: red;
    }
  }

  input[type=submit] {
    float: right;
    position: relative;
    right: 2px;
    clear: both;
    margin-top: $space;
  }

  .error,
  .hint {
    @include secondary_text;
    float: right;
    margin-top: .2rem;
    display: block;
  }

  .error {
    color: $red;
    opacity: .5;
    clear: both;
  }

  .check_boxes {
    label.checkbox {
      width: auto;
      margin-right: 0;
      margin-bottom: $space/4;
      clear: both;
      float: right;
    }

    label.check_boxes + label {
      clear: none;
    }

    input[type="checkbox"] {
      float: right;
      margin-right: 0;
      margin-left: $space/2;
    }
  }
}

.devise-shared-links {
  text-align: right;
  margin-top: $space;

  a {
    color: $dark_gray;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &:not(:last-of-type) {
    border-bottom: 1px solid $light_gray;
    margin-bottom: $space*2;
    padding-bottom: $space*2;
  }

  &:last-of-type {
    margin-bottom: $space;
  }
}

.create-multiple {
  #{$all-text-inputs},
  select,
  textarea {
    width: 100%;
  }

  .create-multiple__row {
    margin-bottom: $space;

    @include medium {
      #{$all-text-inputs},
      select,
      textarea {
        margin-bottom: $space;
      }
    }

    @include medium_and_up {
      @include outer-container;

      #{$all-text-inputs},
      select,
      textarea {
        @include span-columns(4);
      }
    }
  }

  .create-multiple__2nd-row {
    display: flex;

    textarea {
      margin-right: 0;
    }

    .create-multiple__remove-fieldset {
      margin-left: $space;
    }
  }

  .create-multiple__buttons {
    margin-top: $space;
    float: right;

    input[type="submit"] {
      float: none;
      margin-top: 0;
      margin-left: $space;
    }
  }

  fieldset:only-of-type .create-multiple__remove-fieldset {
    display: none;
  }
}

[disabled] {
  opacity: .5;
  pointer-events: none !important;
}

textarea {
  height: 7rem;
}
