@import "bits";

.simple_form {
  @include clearfix;

  .input {
    @include outer-container;
    margin-bottom: $space;
  }

  textarea,
  select,
  #{$all-text-inputs} {
    @include span-columns(8);
    float: none;

    @include small {
      @include span-columns(12);
      float: none;
    }
  }

  label {
    text-align: right;

    input[type=checkbox] {
      margin-right: $space/2;
    }

    &.boolean {
      @include span-columns(12);
    }

    &:not(.boolean) {
      @include span-columns(4);

      @include small {
        @include span-columns(12);
        text-align: left;
        margin-bottom: $space/4;
      }
    }

    abbr {
      text-decoration: none;
      border-bottom: none;
      color: darken($red, 5%);
    }
  }

  textarea,
  #{$all-text-inputs} {
    -webkit-appearance: none;
    border: 1px solid $dark_gray;
    border-radius: $radius;
    box-shadow: inset 1px 1px 2px rgba(black, .1);
    transition:
      .2s border-color,
      .2s box-shadow;
    padding: 2px;

    &:focus {
      outline: 0;
      border-color: $blue;
      box-shadow:
        inset 1px 1px 2px rgba(black, .1),
        0 0 2px rgba($blue, .5);
    }
  }

  .alert-error {
    color: $red;
    margin-bottom: $space;
  }

  .field_with_errors {
    textarea,
    #{$all-text-inputs} {
      border-color: red;
      box-shadow:
        inset 1px 1px 2px rgba(black, .1),
        0 0 2px rgba($red, .5);
    }
  }

  input[type=submit] {
    float: right;
    position: relative;
    right: 2px;
  }

  .error,
  .hint {
    @include secondary_text;
    float: right;
    margin-top: .2rem;
    display: block;
  }

  .error {
    color: $red;
    opacity: .5;
    clear: both;
  }
}

.devise-shared-links {
  text-align: right;
  margin-top: $space;

  a {
    color: $dark_gray;
  }
}

