.main-header {
  background: $light_gray;
  width: 25%;
  float: left;
  height: 100%;

  @media (min-width: $menu_breakpoint) {
    width: 250px;
  }

  @include medium {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
  }

  a, a:visited {
    color: $black;
    text-decoration: none;
  }
}

.main-header__logo {
  font-size: 1.33rem;
  text-align: center;
  display: block;
  padding: $space 0;
  border-bottom: 1px solid darken($light_gray, 12%);

  @include medium {
    border-bottom: none;
  }

  // where the headline breaks into two lines
  @media (max-width: 742px) {
    font-size: 1rem;
  }

  .main-header__logo__image {
    margin-bottom: $space/3;
  }

  img {
    @include size(143px/2);

    @include small {
      @include size(143px/3);
    }
  }
}

.main-header__nav {
  @include big {
    display: block !important;
  }

  a {
    padding: $space/1.5 $space/2;
    font-size: .9rem;
    display: block;
    transition: .1s;

    &.secondary {
      @include secondary_text;
      font-style: normal;
    }

    &:hover {
      background: darken($light_gray, 5%) !important;
    }

    @include big {
      &:not(:last-of-type) {
        border-bottom: 1px solid darken($light_gray, 12%);
      }

      &.current {
        background: darken($light_gray, 10%);
      }
    }

    &:before {
      padding-right: $space/2;
      color: rgba(black, .5);
    }
  }

  @include medium {
    background: $light_gray;
    padding: $space/2;
    padding-top: 0;
    display: none;

    a {
      padding: $space 0;
      font-size: 1rem;
      margin: 0 $space/2;

      &.secondary {
        padding: $space/2 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $dark_gray;
      }

      text-align: left;

      &:hover {
        background: inherit;
      }
    }
  }
}

.main-header__toggle-nav {
  width: 3rem;
  margin: 0 auto $space;

  @include big {
    display: none;
  }
}
