@import "bits";

.main-header {
  background: $light_gray;
  border-bottom: 1px solid $darker_gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @include medium {
    flex-direction: column;
  }

  a, a:visited {
    color: $black;
    text-decoration: none;
  }
}
.main-header__logo {
  display: flex;
  align-items: center;
  font-size: 1.33rem;

  img {
    @include size(143px/2);
    margin-right: 1rem;
  }
}

.main-header__nav {
  a {
    font-size: .9rem;
    padding: .25rem .5rem;
    border-radius: $radius;
    margin: .25rem;
    transition: .1s;

    &:hover {
      background: $dark_gray;
    }
  }

  @include big {
    display: block !important;
  }

  @include medium {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $space/2;
    display: none;

    a {
      flex: 1;
      width: 100%;
      display: block;
      text-align: left;
      margin: 0;
      padding: .5rem 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid darken($light_gray, 10%);
        border-radius: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &:hover {
        background: none;
      }
    }
  }
}

.main-header__toggle-nav {
  @include big {
    display: none;
  }
}
