.main-header {
  display: flex;
  flex-direction: column;
  background: $light_gray;

  a, a:visited {
    color: $black;
    text-decoration: none;
  }
}
.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.33rem;

  @include small {
    font-size: 1rem;
  }

  img {
    @include size(143px/2);
    margin-right: 1rem;

    @include small {
      @include size(143px/3);
    }
  }
}

.main-header__nav {
  background: darken($light_gray, 5%);
  $border: 1px solid darken($light_gray, 12%);
  @include big {
    display: flex !important;
  }
  justify-content: space-around;
  align-items: stretch;

  a {
    padding: $space/2;
    font-size: .9rem;
    display: block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .1s;

    &:hover {
      background: darken($light_gray, 10%);
    }

    &:active {
      background: $darker_gray;
    }

    @include big {
      &:not(:last-of-type) {
        border-right: $border;
      }
    }
  }

  @include medium {
    background: $light_gray;
    padding: $space/2;
    padding-top: 0;
    display: none;

    a {
      padding: $space/2 0;
      margin: 0 $space/2;
      &:not(:last-child) {
        border-bottom: 1px solid $dark_gray;
      }
      text-align: left;

      &:hover {
        background: inherit;
      }
    }
  }
}

.main-header__toggle-nav {
  width: 3rem;
  margin: 0 auto $space;

  @include big {
    display: none;
  }
}
