@import "bits";

.studies__list {
  @include border_list;
  @include small {
    padding-top: $space;
  }

  a {
    color: inherit;
  }

  .studies__list__meta {
    @include secondary_text;
    margin-top: $space/2;
  }
}

.study__card {
  position: relative;
  height: 20rem;
  perspective: 1000;

  @include small {
    height: 10rem;
  }
}

.study__card__front,
.study__card__back {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light_gray;
  border-radius: $radius;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  background: darken(white, 3%);
  transition: .25s ease-in-out;

  @include small {
    font-size: 1.5rem;
  }
}

.study__card__front {}
.study__card__back {
  transform: rotateX(180deg);
}

.study__card.study__card--flipped {
  .study__card__front {
    transform: rotateX(180deg);
  }

  .study__card__back {
    transform: rotateX(360deg);
  }
}

.study__card__label {
  @include secondary_text;
  font-style: normal;
  position: absolute;
  top: $space/2;
  left: $space/2;
}

.study__controls {
  margin: $space 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study__controls__submit {
  margin-bottom: $space;
  display: none;

  &.show {
    display: flex;
  }
}
.study__controls__right,
.study__controls__wrong {
  @include small {
    flex: 1;
  }
}

.stats-container {
  margin-bottom: $space*4;
  margin-top: $space*2;
}

#scores_chart > svg {
  width: 100% !important;
}

.study-progress {
  height: 4px;
  background: $light_gray;
  margin-bottom: $space;
  display: flex;
  position: relative;
  align-items: stretch;
  border-radius: $radius;

  .study-progress__tile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: $radius;
    transition: .5s ease-in-out;
    background: $dark_gray;
  }

  .study-progress__dot {
    flex: 1;
    position: relative;
    z-index: 9999;

    &:after {
      opacity: 1;
      transition: .1s ease-in-out;
      border: 1px solid white;
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      $size: 8px;
      @include size($size);
      background: $light_gray;
      right: -$size/2;
      top: 50%;
      margin-top: -$size/2 - 1px;
    }

    &.right:after {
      background: green;
    }

    &.wrong:after {
      background: red;
    }
  }
}

.new-study {
  .controls {
    margin-top: $space !important;

    h1 {
      margin-bottom: $space/2;
      @include small {
        margin-bottom: 0;
      }
      font-size: 1.5rem;
    }

    .controls__container {
      @include small {
        margin-top: 0;
      }
    }
  }

  .new-study__picks {
    h2 {
      margin-top: $space !important;
    }
  }
}

.new-study__picks,
.new-study__results {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    background: $light_gray;
    border-radius: $radius;
    display: block;
    margin: .5rem 0;
    padding: .25rem;
    transition: .1s;
  }
}

.new-study__results a.new-study__picked-link {
  opacity: .5;
}

.new-study__selection {
  box-shadow: $blue 0 0 0 2px;
}

.neglected-study__meta {
  @include secondary_text;
  margin-top: 3px;
  font-size: .7rem;
}
