@import "bits";

.technique__description {
  @include all_headings {
    font-size: 15px;
    margin-top: $space !important;
  }

  h1 {
    font-size: 17px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: $space/2 0;
  }
}

.notes {
  margin-top: $space*2;

  h2 {
    float: left;
  }

}

.notes__list {
  @include border_list;
  clear: both;

  a {
    color: inherit;
  }
}

.notes {
  .new_note {
    display: none;
    clear: both;
    margin-bottom: $space;
  }
}

.notes__list__meta {
  @include secondary_text;

  p {
    margin: 0;
  }
}

.notes__list__controls {
  margin-top: $space/2;
}
