@import "bits";

.technique__header {
  @include clearfix;

  h1 {
    float: left;
    margin-bottom: 0;
  }
}

.technique__controls {
  float: right;
  margin-top: $space/2;
  margin-left: $space*2;

  @include small {
    margin-top: $space;
  }
}

.notes {
  margin-top: $space*2;

  h2 {
    float: left;
  }

}

.notes__list {
  clear: both;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    &:not(:last-of-type) {
      border-bottom: 1px solid $light_gray;
      padding-bottom: $space*1.5;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.notes__new-button {
  float: right;
}

.new_note {
  display: none;
  clear: both;
  margin-bottom: $space;
}

.notes__list__timestamps {
  @include secondary_text;
}

.notes__list__controls {}
