@import "bits";

.notes {
  margin-top: $space*2;

  h2 {
    float: left;
  }

}

.notes__list {
  @include border_list;
  clear: both;

  a {
    color: inherit;
  }
}

.notes__new-button {
  float: right;
}

.notes {
  .new_note {
    display: none;
    clear: both;
    margin-bottom: $space;
  }
}

.notes__list__meta {
  @include secondary_text;

  p {
    margin: 0;
  }
}

.notes__list__controls {
  margin-top: $space/2;
}

.technique__description {
  display: none;
}
