@import "bits";

.technique__header {
  h1 {
    margin-bottom: 0;
  }
}

.notes {
  margin-top: $space*2;

  h2 {
    float: left;
  }

}

.notes__list {
  clear: both;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
  }

  li {
    &:not(:last-of-type) {
      border-bottom: 1px solid $light_gray;
      padding-bottom: $space*1.5;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:first-of-type p {
      margin-top: 0;
    }
  }
}

.notes__new-button {
  float: right;
}

.new_note {
  display: none;
  clear: both;
  margin-bottom: $space;
}

.notes__list__meta {
  @include secondary_text;
  margin-bottom: $space;

  p {
    margin: 0;
  }
}

.notes__list__controls {}

.technique__description {
  display: none;
}
