@import "bits";

select[name="groupings"] {
  float: right;

  @include small {
    float: none;
    width: 100%;
    margin-bottom: $space;
  }
}

.techniques {
  h1 {
    font-size: 1.5rem;
    clear: both;

    &:first-of-type {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 1.25rem;
    float: left;
    clear: both;
  }

  .icon-arrow-right-after:after,
  .icon-arrow-down-after:after {
    position: relative;
    top: 3px;
    float: left;
  }

  ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;

    li {
      background: $light_gray;
      margin: .5rem 0;
      padding: .25rem;
      border-radius: $radius;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .toggle-techniques {
    color: inherit;
    text-decoration: none;
  }

  .peek__link--all,
  .peek__link {
    float: right;
    color: $darker_gray;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }

  .peek__link--all {
    position: relative;
    top: 6px !important;
    right: 3px !important;
  }

  .peek__link {
    position: relative;
    top: 2px;
    right: 3px;
  }

  .peek__description {
    margin-bottom: 0;
  }

  .note-count {
    @include secondary_text;
    display: inline-block;
    float: right;
    position: relative;
    top: 1px;
    margin-right: $space/2;
  }

  .technique__description p {
    margin-bottom: 0;
  }
}
