@import "bits";

.welcome-heading,
.features__headline,
.welcome-text {
  text-align: center;
}

.welcome-text,
.features__headline {
  font-size: 1.2rem;
  margin-top: $space*1.5;
  margin-bottom: $space*.5;
  font-style: italic;
  font-weight: normal;
}

.sign-up-text {
  text-align: center;
  font-size: 1.2rem;

  a {
    color: $red;
    font-weight: bold;
  }
}

.new-features {
  @include border_list($space);
}

.features {
  $image_width: 40%;

  .features__headline {
    margin-bottom: $space*2;
  }

  .feature {
    display: flex;

    @include medium {
      flex-direction: column;

      &:not(:last-child) {
        border-bottom: 1px solid $light_gray;
        padding-bottom: $space*2;
      }

      &:nth-child(2n) {
        flex-direction: column-reverse;
      }
    }

    @include really_big {
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: $space*2;
    }

    .feature__image {
      @include medium_and_up {
        width: $image_width;
      }

      img {
        width: 100%;
        border: 1px solid $dark_gray;
        border-radius: $radius;
      }
    }

    .feature__text {
      @include medium_and_up {
        text-align: center;
        width: 100% - $image_width;

        &:last-child {
          padding-left: $space;
        }

        &:first-child {
          padding-right: $space;
        }
      }

      @include medium {
        margin-bottom: $space;
      }

      @include really_big {
        margin-top: -$space*2;
      }
    }

    .feature__text__heading {
      margin-bottom: $space;
      text-align: center;
    }

    .feature__text__description {
      margin: $space/2 0;
    }
  }

  strong {
    font-style: italic;
  }
}
